html,
body,
#APP {
  font-family: monospace;
  background-color: #E6E6FA;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#APP {
  width: 100%;
  display: flex;
  justify-content: center;
}

.SETTINGS {
  background-color: #E6E6FA;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  z-index: 2;
}

.toggleSettings {
  background-color: brown;
  width: 20px;
  height: 20px;
  transform: translate(10px, -0px) rotate(45deg);
  position: absolute;
  z-index: 1;
}

.settingsInner {
  background-color: #E6E6FA;
  padding: 15px;
  width: 50px;
  min-height: 100px;
  display: flex;
  flex-flow: column;
  flex-grow: 2;
  color: brown;
  z-index: 2;
}

.settingsInner label {
  padding: 5px 0px;
}

.settingsInner input {
  background-color: #ffecbff;
  color: #6e2a00;
  border: 1px dotted #6e2a00;
}

.settingsInner > div {
  display: flex;
  align-self: flex-end;
  flex-flow: column;
  padding-bottom: 15px;
}

.credits {
  position: absolute;
  bottom: 5px;
  color: #6e2a00;
  line-break: anywhere;
  white-space: pre;
}

.CLEF {
  height: 100%;
}

.STAFF {
  flex-grow: 2;  
  /*  allows child to grow  */
  position: relative;
}

.LINES {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.LINES > div {
/*   border-top: 1px solid #6e2a00; */
}

.MEASURELINES {
  display: flex;
  flex-flow: column;
  justify-content: space-between;  
/*   width:100%; */
  position:absolute;
  box-sizing: border-box;
}

.MEASURELINES > div {
  border-top: 1px solid purple;
}

.NOTES {
  display: flex;
  flex-flow: row wrap;
  justify-content: start; 
  align-items: center;
}

.noteWrapper {
/*   background-color: orange; */
  justify-content: space-between;
  padding: 0px 50px;
  align-self: center;
  width:100%;
}

.note {
  justify-content:center;
  background-color: #E6E6FA;
    cursor: grab;
    position: relative;  
  display: flex;
  flex-flow: row;
  font-size: 1.4em;
}

.measure {
/*   background-color: Violet; */
  display: flex;
  flex-flow: row;
  justify-content: space-around;
/*   height: 100%; */
/*   border-right: 2px solid #6e2a00; */
  flex-grow: 2;
  position:relative;
/*   align-self: normal; */
}

.flex-fix {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
/*   align-items: flex-start; */
  justify-content: center;
}

.flex-fix > div {
  width: 100%;
  min-height: 200px;
  margin: 15%;
}
