/* 
  dark: #602500
  light: #e3d8ff
*/

* {
  box-sizing: border-box;
}

html,
body,
#APP {
  font-family: monospace;
  background-color: #e3d8ff;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#APP {
  width: 100%;
  display: flex;
  justify-content: center;
}

.SETTINGS {
  background-color: #e3d8ff;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  z-index: 2;
}

.toggleSettings {
  background-color: #602500;
  width: 20px;
  height: 20px;
  transform: translate(10px, -0px) rotate(45deg);
  position: absolute;
  z-index: 1;
}

.settingsInner {
  background-color: #e3d8ff;
  padding: 15px;
  display: flex;
  flex-flow: column;
  color: #602500;
  width: 100%;
  box-sizing: border-box;
  align-content: stretch;
  z-index: 2;
}

.settingsInner label {
  padding: 5px 0px;
}

.settingsInner button {
  background-color: #fff;
  color: #602500;
  border: 1px solid #602500;
  flex-grow: 2;
  white-space: nowrap;
}

.settingsInner input {
  background-color: #fff;
  color: #602500;
  border: 1px dotted #602500;
  min-width: 0px;
}

.settingsInner > div {
  display: flex;
  padding-bottom: 15px;
}

.inputGroup {
  flex-flow: column;
}

.buttonGroup {
  flex-flow: row;
  width: 100%;
  align-items: center;
}

.credits {
  position: absolute;
  bottom: 5px;
  color: #602500;
  line-break: anywhere;
  white-space: pre;
}

/* MUSIC STAFF */

.CLEF {
  height: 100%;
  align-self: center;
}

.STAFF {
  flex-grow: 2;
  /*  allows child to grow  */
  position: relative;
  overflow: overlay;
}

.LINES {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.MEASURELINES {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
}

.MEASURELINES > div {
  border-top: 1px solid #602500;
}

.NOTES {
  display: flex;
  flex-flow: row wrap;
}

.voiceWrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
}

.note {
  width: 50px;
  justify-content: center;
  align-items: center;
  background-color: #602500;
  cursor: grab;
  position: absolute;
  display: flex;
  flex-flow: row;
  font-size: 1.4em;
  color: #FAEBD7;
  box-sizing: border-box;
}

.noteWrapper {
  width: 100%;
  padding: 0px 40px;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.measure {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  flex-grow: 2;
  position: relative;
}

.flex-fix {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-fix > div {
  width: 100%;
  min-height: 100px;
  margin: 15%;
}

.tempo-marker {
  width: auto;
  align-self: start;
  margin: 0px !important;
}

.midiLog table {
  width: 100%;
}

.midiLog table tr:nth-child(odd) {
  background-color: #ccc;
}
